[receive]
	requireContributorAgreement = true
[submit]
	action = merge always
	mergeContent = true
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Android Maintainers
	label-Code-Review = -2..+2 group protobuf-submitters
	label-Verified = -1..+0 group Android Maintainers
	label-Verified = -1..+0 group protobuf-submitters
[access "refs/heads/master"]
	label-Verified = -1..+1 group Android Maintainers
	label-Verified = -1..+1 group protobuf-submitters
	submit = group Android Maintainers
	submit = group protobuf-submitters
[project]
[access]
	inheritFrom = Platform-Unrestricted-Projects
